header{
    nav{
        div{
            a{
                img{
                    height: 80px;
                    width: 80px;
                }
            }
            }
        }
    }
.socialArriba{
    margin-right: 15px;
    a{
        img{
            height: 25px;
            width: 25px;
            margin: 5px;
        }
    }
}